<h1>Add Your Drink</h1>
<form method="POST" action="/drink">
  Name: <br>
  <input type="text" name="drink[name]" value=""><br>
  Style: <br>
  <input type="text" name="drink[style]" value=""><br>
  <input type="submit" value="Submit">
</form>