<div class="row">
  <div class="col s12 m7 ">
    <div class="card ">
      <div class="card-image">
        <img src="http://2.bp.blogspot.com/-Ozy28P4xK_E/U5U2eOIMUII/AAAAAAAAE4k/x8s9-I_Fv6A/s1600/Shilin+Night+Market+collage.jpg">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
	       <p>Taiwanese cuisine itself is often associated with influences from mid to southern provinces of Mainland China, most notably from the province of Fujian (Hokkien), but influences from all of Mainland China can easily be found. A notable Japanese influence also exists due to the period when Taiwan was under Japanese rule. Traditional Chinese food can be found in Taiwan, alongside Fujian and Hakka-style as well as native Taiwanese dishes, includes dishes from Guangdong, Jiangxi, Chaoshan, Shanghai, Hunan, Sichuan and Beijing.</p>
      </div>
      <div class="card-action">
        <a href="https://en.wikipedia.org/wiki/Taiwanese_cuisine">More Information</a>
      </div>
    </div>
  </div>
</div>