<!DOCTYPE html>
<html>
<head>
  <title>Taiwanese Food Blog</title>

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/food">Taiwanese Food</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/Suggestions">Suggestions</a></li>
        <li><a href="/food/new">Add Your Own Food</a></li>
      </ul>
    </nav>
  </header>
  <main>
  </main>
  <%= yield %>
  <footer>
    &copy; Yangster
  </footer>
</body>
</html>
