<!DOCTYPE html>
<html>
<head>
  <title>FOOOOOOD</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="/materialize/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

  <header>

  <nav>
    <div class="nav-wrapper #d50000 red accent-4">
      <a href = '/'class="brand-logo">Taiwan Food Blog</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/food">Taiwanese Food</a></li>
        <li><a href="/drink">Drinks</a></li>
        <li><a href="/food/new">Add Your Own Food</a></li>
        <li><a href="/drink/new">Add Your Drink</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/food">Taiwanese Food</a></li>
        <li><a href="/drink">Drinks</a></li>
        <li><a href="/food/new">Add Your Own Food</a></li>
        <li><a href="/drink/new">Add Your Drink</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </div>
  </nav>

  </header>
  <main>
  </main>
    <%= yield %>
  <footer>
    &copy; Yangster
  </footer>

</body>

  <!-- script for side nav -->
  <script>
    $( document ).ready(function(){$(".button-collapse").sideNav();});
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA6QP221-QDov5__y3PplBYJnJker0oWI&libraries=places&callback=initAutocomplete"
         async defer></script>


</html>
