<h1>Add Your Creation!</h1>
<form method="POST" action="/food">
  Name: <br>
  <input type="text" name="food[name]" value="name"><br>
  Style Location: <br>
  <input type="text" name="food[style_location]" value="Style Location"><br>
  Meal Time: <br>
  <input type="text" name="food[meal_time]" value="Meal Time"><br>
  Photo: <br>
  <input type="text" name="food[photo_url]" value="Link"><br>

  <input type="submit" value="Submit">
</form>