<%= food.name %>
<%= food.style_location %>
<%= food.meal_time %>


<form action="/food/<%=food.id%>/delete" method="post" class='delete'>
  <input type="hidden" name="_method" value="delete">
  <input type='submit' value="Delete">
</form>