<h1>Food For Thought!</h1>
<!-- <form method="POST" action="/food">
  Name: <br>
  <input type="text" name="food[name]" value="name"><br>
  Style Location: <br>
  <input type="text" name="food[style_location]" value="Style Location"><br>
  Meal Time: <br>
  <input type="text" name="food[meal_time]" value="Meal Time"><br>
  Photo: <br>
  <input type="text" name="food[photo_url]" value="Link"><br>

  <input type="submit" value="Submit">
</form> -->


<div class="row">
  <div class = 'col s6'>
    <form class="col s12" action='/food' method="post">
      <div class="row">
        <div class="input-field col s12">
          <input name="food[name]" id="name" type="text">
          <label for="name">Name</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="food[style_location]" id="location" type="text" value =''>
          <label id="location-label" for="style_location">Where To Eat?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="food[meal_time]"  id="meal_time" type="text">
          <label for="meal_time">When To Eat?</label>
        </div>
      </div>

      <div class="row">

        <div class="input-field col s12">
          <input name="food[photo_url]"  id="photo" type="text">
          <label for="Photo">Photo Link</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="food[info]"  id="info" type="text">
          <label for="Info">Info</label>
        </div>
      </div>

    <input class="waves-effect waves-light btn" type="submit" value="Create">
  </form>
    
  </div>
  
    
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class ='col s6' id = 'map'></div>

</div>

